fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
faiss-cpu
sentence-transformers
google-generativeai
pillow
pymupdf
python-docx
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
pytesseract
pdfplumber